*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body{
    background-color: #3b3b3bc5;

}

header{
    background: rgb(255, 255, 255);
    max-width: 1250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 1px 9px;
   
}
.menu >a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.menu ul{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: 000;
    list-style: none;
}

.menu ul li {
    font-size: 20px;
    padding: 0 10px;

}
.menu ul li a{
    text-decoration: none;
    padding: 0 5px;
    color: black;
    font-weight: 500;
}
.menu ul li a.active{
    background-color: rgb(175, 17, 17);
    padding: 9px;
    border-radius: 4px;
    color: white;
}
.menu ul li a:hover{
    background-color: rgb(175, 17, 17);
    padding: 7px;
    border-radius: 4px;
    color: white;
    transition-delay: .1s;
    transition-duration: .2s;
}