/* 
    Geral- fundo
*/

body{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins' ,serif;
    
    background: url(/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 
    Header-branco
*/

header{
    position: relative;
    max-width: 1200px;
    
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.753);
    
    background-color: #fff;
}
#logo{
    height: 60px;
    line-height: 60px;
    
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 700;
    text-align: center; 
    text-decoration: none;

    color: #eb4d4b;
}   
.menu{
    /* nav e nav ul */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    list-style: none;
    
    margin: 0;
    padding: 0;
}

/* 
    Nav - Itens
*/

nav ul li a{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;

    text-decoration: none;
    font-weight: bold;

    color: black;
}
nav ul li a.active{
    border-radius: 3px;
    margin-right: 10px;
    background-color:#eb4d4b ;
    color: white;
}
nav ul li a:hover{
    border-radius: 3px;
    
    background-color:#eb4d4b ;
    color: white;
}






